:root {
  --custom-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  scroll-behavior: smooth;
}

/*
font-family: 'Barlow', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'JetBrains Mono', monospace;
*/

body {
  font-family: 'Inter', sans-serif;
  color: var(--bs-dark);
  font-size: 1.1em;
}

/*
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: 'Inter', sans-serif;
}
*/

code, pre {
  font-family: 'JetBrains Mono', monospace;
  white-space: pre-line;
}

em {
  color: var(--bs-secondary-color);
  font-size: 0.9em;
}

.navbar {
  transition: all 0.3s ease-in-out;
  background-color: var(--bs-white);
  text-align: center;
}

.scrolled {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  --bs-dropdown-padding-x: 1rem;
  --bs-dropdown-padding-y: 1rem;
  --bs-dropdown-item-padding-y: 0.8rem;
  --bs-dropdown-font-size: 0.9rem;
  --bs-dropdown-link-hover-color: var(--bs-white);
  --bs-dropdown-link-hover-bg: var(--bs-info);
  --bs-dropdown-link-active-bg: var(--bs-info-text);
  box-shadow: var(--bs-box-shadow);
  border-radius: var(--bs-border-radius-xl);
  border: none;
}

.dropdown-item:hover {
  box-shadow: var(--bs-box-shadow);
  border-radius: var(--bs-border-radius-lg);;
}

.navbar .active {
  border-bottom: solid 2px var(--bs-info);
}

.nav-link.active i {
  color: var(--bs-info);
}

.custom-space h1 {
  letter-spacing: 0.7rem;
}

.line-btn {
  width: 3.5rem;
  height: 0.9rem;
}

.line-btn:hover {
  cursor: default;
  background-color: var(--bs-info);
}

.table-pre pre {
  margin-bottom: 0;
}

/*
.hidden-link {
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  display: block;
}
*/

.g-img-box {
  overflow: hidden;
}

.g-img {
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease;
  transition:all .9s ease;
}

.g-img:hover {
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}

.btn {
  box-shadow: var(--custom-shadow);
  border-radius: 0.15em;
}

.list-group-item:hover {
  box-shadow: var(--custom-shadow);
}

.special-list-item {
  position: relative;
  transition: 0.3s;
}

.special-list-item .icon {
  height: 85px;
  flex: 0 0 auto;
  width: 85px;
  line-height: 85px;
  text-align: center;
  border-radius: 0.25em;
  color: #fff;
}

.special-list-item:hover {
  box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.1) !important;
}

.nav-pills .nav-link {
  color: var(--bs-secondary-color);
  border-radius: 0.15em;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--bs-primary);
  box-shadow: var(--custom-shadow);
}

a {
  text-decoration: none;
}

#footer a {
  color: var(--bs-gray);
}

/*
  Sidebar CSS
*/

.sidebar {
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 100px 0 0; /* Height of navbar */
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  margin-right: 1.5rem;
  padding: 1rem;
}

.sidebar .nav-link.active,
.sidebar .nav-link.active:hover {
  background-color: var(--bs-success);
  color: #fff;
  border-radius: 0.2em;
  box-shadow: var(--custom-shadow);
}

.sidebar-heading {
  font-size: .75rem;
}

/* Breadcrumb */
.breadcrumb {
  padding: 1rem;
  margin-bottom: 0;
  background-color: #fff;
}

.breadcrumb-item a {
  padding: 0.4rem;
  color: var(--bs-accent1);
}

.breadcrumb-item a:hover {
  color: inherit;
  background-color: var(--bs-primary-bg-subtle);
  border-radius: 0.3em;
}

.breadcrumb-item.active a,
.breadcrumb-item.active a:hover {
  background-color: var(--bs-accent3);
  color: #fff;
  border-radius: 0.3em;
  box-shadow: var(--bs-box-shadow-sm);
}

.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">")
}

/* Tooltip */
.tooltip {
  --bs-tooltip-bg: var(--bs-accent1);
}

/* Scroll to top */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* Table */


/* Custom Nav Pills in Environments Page */
.nav-pills-custom .nav-link {
  color: #dbdbdb;
  position: relative;
  text-align: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-pills-custom .nav-link.active {
  color: #fff;
  background: #fff;
  font-weight: bold;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
    content: '';
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #5e5e5e;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}


/* Remove Banner Image below lg */
@media (max-width: 991px) {
  .bannerImg {
      display: none;
  }
}

/* Hide datatables while loading 
#mgStudiesTable,
#mgSamplesTable,
#mgAmpliconsTable, 
#mgShotgunsTable {
  display: none;
}
*/
